h1 {
  background-color: black; /* Same background color as the slogan box */
  color: white; /* White text */
  padding: 20px; /* Add some space inside the box */
  margin: 0; /* Remove any margin around the h1 */
  text-align: center; /* Center the text */
  border-radius: 50; /* No rounded corners */

}

/* Styling for the slogan box */
.slogan-box {
  background-color: rgb(65, 15, 203); /* Same background color as the h1 */
  color: white; /* White text */
  padding: 10px; /* Space inside the box */
  margin: 0; /* Remove margin to join it with the h1 */
  text-align: center; /* Center the text */
  border-radius: 50; /* No rounded corners */
}